@charset "UTF-8";

	.perspective{
/* 		border: 10px solid hotpink; */
		display: inline-block;
		margin:0px;
		
		perspective: 500px;
	}
	
	.cube{
/* 		border: 10px solid lightpink; */
		display: inline-block;
		
		transform-style: preserve-3d;
/* 		transform: rotateX(45deg); */

		animation: rotate 7s infinite linear;
	}
	
	.base{
		width: 50px;
		height: 50px;
/* 		border: 10px solid mistyrose; */
		font-size: 10pt;
		text-align: center;
		line-height: 50px;
	}
	
	.front, .back, .left, .right, .top, .bottom{	
 		position: absolute;
 		top: 0px;
 		left: 0px;
 		background: plum;
 		opacity: 0.5;
/* 		box-shadow: 0px 0px 30px 1px purple;*/
	}
	
 	.front{
 		transform : translateZ(25px);
 	}
 	
 	.back{
 		transform : rotateY(180deg) translateZ(25px);
 	}
	
	 .left{
 		transform : rotateY(-90deg) translateZ(25px);
 	}
 	
 	.right{
 		transform : rotateY(90deg) translateZ(25px);
 	}
 	
 	.top{
 		transform : rotateX(90deg) translateZ(25px);
 	}
 	
 	.bottom{
 		transform : rotateX(-90deg) translateZ(25px);
 	}
	
	@keyframes rotate{
		from{
			transform:rotateX(0deg) rotateY(360deg) rotateZ(0deg);
		}
		
		to{
			transform:rotateX(360deg) rotateY(0deg) rotateZ(360deg);
		}
	}