@charset "UTF-8";


.collapse{
	border-collapse: collapse;
	font-family: monospace;
}

table:nth-of-type(1){
	margin-bottom: 10px;
}

body{
	height: 1000px;
}

#surface{
	position: relative;
}

#surface td{
	position: relative;
	transition: left 2s, top 2s, transform 2s;
}
